name: Java CI

on: [push, pull_request]

jobs:
  build:
    runs-on: windows-latest

    steps:
<<<<<<< HEAD
      - uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Start SUT
        run: java -jar ./artifacts/app-order.jar &

      - name: Run tests
        run: gradlew test --no-daemon
=======
    - uses: actions/checkout@v4
    
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
    
    - name: Start SUT
      run: java -jar ./artifacts/app-order.jar &
    
    - name: Run tests
      run: gradlew test --no-daemon
>>>>>>> f340e2ce7df6ce125a09ebf1b560a170d80cb6b7
